.form-line {
  border-top: 1px solid #d1d1d1;
  height: 0.125rem;
  width: 100%;
  margin: 40px 0 20px 0;
}

.form-header {
  font-size: 22px;
  color: #575757;
}

form {
  margin-top: 15px;
  margin-bottom: 50px;
}

input {
  margin-right: 30px;
  width: 38%;
  padding: 15px 0 15px 10px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
}

.form-btn {
  padding: 15px;
  background-color: #ac3a73;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 150px;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #5f2140;
}
