* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4%;
  background-image: url("./images/heart.bg.img.jpg");
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app-container {
  border: 2px solid #f5f6fa;
  background-color: #f5f6fa;
  box-shadow: 0 2px 4px 2px rgb(78, 78, 78);
}

.book-shelve {
  padding: 50px;
  background-color: #f5f6fa;
}
